<div class="row">
  <div class="col-md-10">
    <input type="filter" class="form-control" placeholder="Search" ng-model="$ctrl.query">
  </div>
  <div class="col-md-2">
    <p>
      <select class="form-control" ng-model="$ctrl.orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
    </p>
  </div>
</div>

<div class="row">
  <ul>
    <li ng-repeat="burger in $ctrl.burgers | filter:$ctrl.query | orderBy:$ctrl.orderProp">
      <span>{{burger.name}}</span>
      <p>{{burger.snippet}}</p>
    </li>
  </ul>
</div>
