
<div class="container">
  <hr>
  <footer>
    <p>
      &copy; 2015 Company, Inc. | <a href="/about">About</a> | <a href="/apidoc">API</a>
    </p>
  </footer>
</div>

<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
