<!doctype html>
<html ng-app="tokyoBurgerMapApp">
<head>
  <title>Site name</title>

  <script src="//code.angularjs.org/1.5.7/angular.min.js"></script>
  <!-- https://docs.angularjs.org/misc/downloading -->

  <script src="/js/burger-list/burger-list.module.js"></script>
  <script src="/js/burger-list/burger-list.component.js"></script>
  <script src="/js/burger-list/burger-list.component.spec.js"></script>

  <script src="/js/app.module.js"></script>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">

</head>
<body class="<%= nav_name %>">

<%- include('./navigation'); %>
