<%- include('./partials/header'); %>

<div class="container">

  <h1>Hello</h1>

  <p>
    Some text goes here.<br>
    Nothing here {{'yet' + '!'}}<br>
    Tutorial is <a href="https://docs.angularjs.org/tutorial" target="_blank">here</a>
  </p>

  <ul>
    <li ng-repeat="burger in burgers">
      <span>{{burger.name}}</span>
      <p>{{burger.snippet}}</p>
    </li>
  </ul>

  <p>Total number of burgers: {{burgers.length}}</p>

</div>


<%- include('./partials/footer'); %>
